.jumbotron {
    text-align: center;
    margin-top: 30px;
}

#player-input input {
    width: 600px;
    height: 50px;
    font-size: 28px;
    text-align: center;
}

#input-error {
    color: #c12e2a;
}

#score-input {
    width: 40px;
    text-align: center;
}

p > .btn {
  margin: 8px 0;
}

th, tr {
  text-align: center;

}

td {
    empty-cells: show;
    padding: 7px;
}

.alert {
    display: none;
}